Tus datos ==> <br>
Nombre: {{user.name}} <br>
Email: {{user.email}} <br>
Role: {{user.role}} <br>
ID: {{user.userID}} <br>

<a href="http://localhost:{{PORT}}/products"> Go back</a> <br>
<button onclick="logOut()">Log Out</button> <br>

<script src="/js/views.js"></script>