You are about to buy the following products, please check if the order is right

{{#if products.empty}}
{{products.empty}} <br>
{{else}}

{{#each products}}
<div>
    x{{this.quantity}} {{this.title}}, ${{this.price}} each <br>
</div>
{{/each}}

Total amount: {{result}}$ <br>

<button onclick="finishPurchase(`{{cartid}}`)">Finish order</button> <br>

{{/if}}


<a href="/products">Go back</a> <br>

<script src="/js/home.js"></script>